
    <div class="content">
        <h3 style="text-align:center">Member Login</h3>
        <p>Email Address</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtEmailAddress")
                .HtmlAttributes(new { style = "width:325px;" })
            )
        </p>
        <p>Password</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtPassword")
                .HtmlAttributes(new { style = "width:325px;", type = "password"  })
            )
        </p>
        <p>
            @Html.ActionLink("I Forgot My Password", "ForgotPassword", "Login")
        </p>

        <p>
            @(Html.Kendo().Button()
                .Name("btnSubmit")
                .Content("Submit")
                .HtmlAttributes(new { @class = "btn btn-primary"})
                .Events(ev => ev.Click("btnSubmit_Click"))
            )

        </p>

        <div id="loginResults" style="color:red;visibility:hidden">The username or password is incorrect!</div>
    </div>
<br/>


<style>
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%,-50%);
        /*border: 1px solid blue;*/
        padding: 10px;
        width: 350px;
    }
</style>

<script>

    // Create an event for when the 'txtUserName' textbox gets focus
    // after an unsuccessful login.
    const txtEmailAddress = document.querySelector('#txtEmailAddress');
    txtEmailAddress.addEventListener('focus', (event) => {
        $('#loginResults').css('visibility','hidden');
        $('#txtPassword').val('').change();
    });

    // Create an event for when the 'txtPassword' textbox gets focus
    // after an unsuccessful login.
    const txtPassword = document.querySelector('#txtPassword');
    txtPassword.addEventListener('focus', (event) => {
        $('#loginResults').css('visibility','hidden');
        $('#txtPassword').val('').change();
    });

    function btnSubmit_Click() {

        // Get the values from the UserName and Password textboxes
        var emailAddress = $('#txtEmailAddress').val();
        var passWord = $('#txtPassword').val();

        // Check for blank Email Address
        if (emailAddress == '') {
            $('#loginResults').html('The email address cannot be blank!');
            $('#loginResults').css('visibility', 'visible');
            return;
        }

        // Check for blank Password
        if (passWord == '') {
            $('#loginResults').html('The password cannot be blank!');
            $('#loginResults').css('visibility', 'visible');
            return;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ProcessLogin", "Login")?emailAddress=' + emailAddress + '&password=' + passWord,
            success: function (userInfo) {
                if (userInfo.LoginResults == 'false') {
                    // Show the login error message.
                    $('#loginResults').html('The email address or password is incorrect!');
                    $('#loginResults').css('visibility', 'visible');
                    return;
                }
                else if (userInfo.LoginResults == 'true') {
                    // Successful user login
                    window.location.href = '@Url.Action("Index","Admin")?ID=' + userInfo.ID + '&fullName=' + userInfo.FullName + "&chapterName=" + userInfo.ChapterName;
                }
                else if (userInfo.LoginResults == 'admin') {
                    // Successful admin login
                    window.location.href = '@Url.Action("Index","Admin")?ID=' + userInfo.ID + '&fullName=' + userInfo.FullName + "&chapterName=" + userInfo.ChapterName;
                }
            }
        });
    }

</script>

