
@{
    ViewBag.Title = "UserLogin";
}

    <div class="content">
        <h3 style="text-align:center">Member Login</h3>
        <p>Email Address</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtUserName")
                .HtmlAttributes(new { style = "width:325px;" })
            )
        </p>
        <p>Password</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtPassword")
                .HtmlAttributes(new { style = "width:325px;" })
            )
        </p>
        <p>
            @Html.ActionLink("I Forgot My Password", "ForgotPassword", "Login")
        </p>

        <p>
            @(Html.Kendo().Button()
                .Name("btnSubmit")
                .Content("Submit")
                .HtmlAttributes(new { @class = "btn btn-primary" })
                .Events(ev => ev.Click("btnSubmit_Click"))
            )

        </p>

        <div id="loginResults" style="color:red;visibility:hidden">The username or password is incorrect!</div>
    </div>
<br/>


<style>
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%,-50%);
        /*border: 1px solid blue;*/
        padding: 10px;
        width: 350px;
    }
</style>

<script>

    // Create an event for when the 'txtUserName' textbox gets focus
    // after an unsuccessful login.
    const txtUserName = document.querySelector('#txtUserName');
    txtUserName.addEventListener('focus', (event) => {
        $('#loginResults').css('visibility','hidden');
        $('#txtPassword').val('').change();
    });

    // Create an event for when the 'txtPassword' textbox gets focus
    // after an unsuccessful login.
    const txtPassword = document.querySelector('#txtPassword');
    txtPassword.addEventListener('focus', (event) => {
        $('#loginResults').css('visibility','hidden');
        $('#txtPassword').val('').change();
    });

    function btnSubmit_Click() {

        // Get the values from the UserName and Password textboxes
        var userName = $('#txtUserName').val();
        var passWord = $('#txtPassword').val();

        // Check for blank User Name
        if (userName == '') {
            alert("User Name cannot be blank!");
            $('#txtUserName').focus();
            return;
        }

        // Check for blank Password
        if (passWord == '') {
            alert("Password cannot be blank!");
            $('#txtPassword').focus();
            return;
        }
        
      $.ajax({
        type: 'GET',
        url: '@Url.Action("ProcessLogin", "Login")',
          success: function (result) {
              if (result == 'False') {
                  // Show the login error message.
                  $('#loginResults').css('visibility','visible');
                  return;
             }
        }
      });

    }
</script>

